@tailwind components;

@layer components{
	#mainHeader{
		@apply 
		md:pb-5;
	}

	#mainHeader--topbar{
		@apply 
		hidden 
		px-6 
		pt-3 
		justify-end 
		items-center 
		sm:flex;

		.nav{
			@apply 
			text-sm 
			leading-none 
			whitespace-nowrap 
			flex 
			items-center 
			gap-x-2 
			select-none;

			.nav-link{
				@apply 
				text-white 
				dark:text-slate-700;
			}

			.nav-button{
				@apply 
				bg-prod-purple 
				text-white 
				text-sm 
				px-5 
				pt-1 
				pb-1.5 
				block 
				rounded-lg 
				transition-all
				hover:opacity-80;
			}
		}
	}


	#mainNavbar{
		@apply 
		bg-white;
	}


	#mainMenu{
		@apply 
		text-white 
		leading-none 
		w-full
		max-w-5xl 
		mx-auto 
		pb-4
		select-none
		md:flex
		md:pb-0;

		.menu-item{
			@apply 
			text-white 
			text-center 
			leading-tight
			flex 
			flex-1 
			items-center 
			justify-center
			md:text-sm
			md:leading-tight
			dark:text-slate-700;
		}

		.menu-item + .menu-item{
			@apply 
			border-l
			border-white
			dark:border-purple;
		}

		.menu-link{
			@apply 
			max-w-[180px] 
			h-full 
			px-3
			flex 
			items-center
			relative;

			&.router-link-active::after{
				content: '';
				background-image: url("data:image/svg+xml,%0A%3Csvg width='24px' height='9px' viewBox='0 0 24 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Distr.-Depresion-y-Ansiedad' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Distribuidora-Depresion-y-Ansiedad' transform='translate(-299.000000, -201.000000)' fill='%23FFFFFF'%3E%3Cpolygon id='Triangle-Copy-2' points='311 201 323 210 299 210'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				width: 24px;
				height: 9px;
				position: absolute;
				bottom: -12px;
				left: 50%;
			}
		}
	}




}

