@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	font-family: 'Barlow', sans-serif;
	color: #252B3C;
	line-height: 1.4;
	@apply md:text-[17px];
}


.section-title{
	@apply 
	text-xl 
	leading-tight
	font-semibold 
	uppercase 
	select-none 
	sm:text-2xl
	sm:leading-tight
	md:text-3xl
	md:leading-none
}




/**
POST CONTENT
**/
.post-content{

	.wp-block-page-title{
		&.is-style-default{ @apply bg-pink; }
		&.is-style-blue{ @apply bg-navy; }
		&.is-style-purple{ @apply bg-prod-inbrija; }
	}


	.wp-block-hero{
		&::before{
			content: '';
			height: 200px;
			left: 0;
			right: 0;
			top: 0;
			position: absolute;
		}
	}

	.wp-block-hero.is-style-default::before{ @apply bg-pink; }
	.wp-block-hero.is-style-blue::before{ @apply bg-navy; }
	.wp-block-hero.is-style-purple::before{ @apply bg-prod-inbrija; }



	.wp-block-heading + .wp-block-paragraph{
		@apply mt-5;
	}

	.wp-block-paragraph + .wp-block-paragraph{
		@apply mt-5;
	}

	.wp-block-heading{
		@apply select-none;

		h1{ @apply text-3xl font-semibold tracking-tight; }
		h2{ @apply text-2xl font-semibold tracking-tight; }
		h3{ @apply text-xl font-semibold; }
		h4, h5{ @apply font-semibold; }
	}
}